@mixin button($background, $text-color) {
  background: $background;
  color: $text-color
}

.btn {
  background: #fff;
  border-width: 0;
  border-radius: 4px;
  padding: 10px 12px;
  outline: none;

  &.btn-sm {
    padding: 4px 8px;
  }
}

.btn-secondary {
  @include button(#DCEBFA, #2D6EB6)
}
