$toolbar-height: 110px;
$color: #E27F2E;
$color-2: #1e9ad8;

body {
  background: #F7FAFA;
}

.quiz {
  background: #F7FAFA;

  .quiz-highlight {
    color: $color;
  }

  .quiz-toolbar {
    height: $toolbar-height;
    background: #009BD4;
    text-align: center;

    .quiz-statusbar {
      height: 30px;
      background: #0189BB
    }

    > img {
      margin: 5px auto;
    }
  }


  .quiz-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .quiz-presentation-content {
    max-width: 540px;
  }

  .quiz-presentation-col {
    height: 100%;
    padding: 40px;
    overflow-y: auto;

    @media (max-width: 992px) {
      margin: 0 auto;
      height: auto;
    }
  }

  .quiz-presentation-logo {
    position: relative;
    text-align: center;
    min-height: 400px;

    > img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      max-width: 100%;
      white-space: normal;
    }
  }

  .quiz-box {
    position: relative;
    background: #FFF;
    border: 1px solid #D9D9DE;
    padding: 30px;
    margin: 0 auto;

    .quiz-subtitle {
      font-size: 23px;
    }
  }

  .quiz-title {
    text-transform: uppercase;
    color: $color;
    font-size: 44px;
    font-weight: 600;
    margin-top: 0;
  }

  .quiz-subtitle {
    font-size: 26px;
    font-weight: 300
  }

  .quiz-presentation-box, .quiz-box {
    @media (min-width: 992px) {
      margin: 0;
    }
  }

  .quiz-presentation-box {
    .quiz-button {
      width: 100%;
      text-transform: uppercase;
    }
  }

  .quiz-button {
    border-radius: 0;
    background: $color;
    color: #fff;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    min-height: 60px;
    word-wrap: break-word;
    white-space: normal;
  }

  .quiz-container {
    @media (min-width: 992px) {
      position: fixed;
      top: $toolbar-height;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .quiz-presentation-image {
    height: 100%;

    @media (max-width: 992px) {
      min-height: 300px;
      height: auto;
    }
  }

  .quiz-home-button {
    position: absolute;
    left: -25px;
    bottom: -25px;
    width: 56px;
    height: 56px;
    background: #E47F1E;
    border-radius: 50%;
    color: #fff;
    font-size: 28px;
    text-align: center;
    padding: 8px;
  }

  .quiz-question-info {
    text-align: center;
    padding: 36px 0;
    min-height: 176px;
    margin: 0 auto;

    .quiz-subtitle {
      max-width: 550px;
      margin: 0 auto;
    }
  }

  .quiz-box-content {
    background: #F7FAFA;
    min-height: 500px;
    flex: 1 1 auto;
    padding: 40px;
  }

  .quiz-question-title {
    font-size: 24px;
    margin-top: 0;
    font-weight: 600;
  }

  .quiz-result,
  .quiz-projects {
    .quiz-question-info {
      padding-top: 75px;
    }
  }

  .quiz-result,
  .quiz-question,
  .quiz-projects {
    padding-bottom: 60px;
  }

  .quiz-result {

    .quiz-result-section-title {
      margin: 40px 0 0;
      font-weight: 600;

      &:first-child {
        margin: 0
      }
    }

    .quiz-button {
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      width: 265px;
      margin: auto;
      display: block;
    }
  }

  .quiz-result-item {
    margin-top: 20px;
    height: 170px;
    color: #fff;
    font-weight: 500;
    position: relative;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(0deg, rgba(0,0,0,.4), rgba(255,255,255,0))
    }

    .quiz-result-item-text {
      font-size: 28px;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 12px;
      font-weight: 600;
      z-index: 10;
    }
  }

  .quiz-alternative {
    $border-color: #d9d9de;

    background-color: #FFF;
    border:1px solid $border-color;
    min-height: 72px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    padding-left: 70px;

    .quiz-label {
      background: #fff;
      border-right: 1px solid $border-color;
      width: 70px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 20px;
      text-align: center;
      font-size: 24px;
    }

    .quiz-alternative-content {
      padding: 10px 15px;
      font-size: 18px;
      line-height: 1.5;
    }

    &.quiz-image {
      height: 190px;

      .quiz-label {
        top: auto;
        border-top: 1px solid $border-color;
      }
    }

    &:hover,
    &:active {
      &, .quiz-label {
        border-color: #009ad6;
      }
    }
  }

  .quiz-project {
    display: block;
    background: #fff;
    width: 250px;
    height: 240px;
    border: 1px solid #D9D9DE;
    color: #222;
    text-align: left;

    &:hover, &:focus {
      text-decoration: none;
    }

    .quiz-project-cover {
      height: 140px;
      background: #333;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(0deg, rgba(0,0,0,.4), rgba(255,255,255,0))
      }
    }

    .quiz-project-vacancy {
      color: #fff;
      margin: 0;
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      z-index: 9;
      font-size: 20px;
      font-weight: 600;
    }

    .quiz-project-owner {
      width: 50px;
      height: 46px;
      border-radius: 4px;
      float: left;
      background-color: #eee;
      border: 1px solid #ccc;
      margin-left: -62px;
    }

    .quiz-project-info {
      padding: 10px;
      padding-left: 72px;

      .quiz-project-owner-name {
        font-weight: 600;
        margin: 0 0 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .quiz-project-address {
        font-size: 15px;
        color: #7c7f78;

        i {
          margin-right: 8px;
        }
      }
    }

    .quiz-project-footer {
      padding: 0 12px 10px;
      font-size: 14px;
      color: #7c7f78;

      i {
        margin-right: 8px;
        color: $color-2;
      }
    }
  }

  .quiz-projects {
    text-align: center;

    .quiz-project {
      vertical-align: top;
      margin: 25px 25px 0 0;
      display: inline-block;
    }
  }
}
